# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Keystore
/android/key.properties

# archive
lib/pages/archives/*.dart
android/fastlane/Appfile
api-5373400179997468599-215172-2a68660d069f.json
ios/fastlane/Appfile
lib/todolist.txt
.vscode/launch.json
android/app/keystore/key.jks
android/app/keystore/_.txt
android/app/keystore/key.jks.old
ios/fastlane/metadata/review_information/first_name.txt
ios/fastlane/metadata/review_information/last_name.txt
ios/fastlane/metadata/review_information/email_address.txt
ios/fastlane/metadata/review_information/phone_number.txt
android/fastlane/report.xml
/ios/build/XCBuildData/
ios/Runner.ipa
ios/Runner.app.dSYM.zip
ios/fastlane/report.xml
ios/Flutter/.last_build_id
